body {
    background-image: url("/Users/BLeagan/unc-code-camp/unit-4-game/assets/images/geographic-national-lakes-wallpaper-discovery-caves-brazil-desktop-wallpapers.jpg");
}

.page-header {
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: aqua;
    margin: 20%;
    padding: 10px;
    font-family: fantasy;
}

.instructions {
    color: white;
    font-size: 12px;
}

.random {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-top: 30px;
}

.number {
    background-color: chartreuse;
    text-align: center;
    font-size: 50px;
    margin-right: 20px;
    width: 120px;
    height: 100px;
    color: red;
    margin-left: 30px;
}

.outcome {
    background-color: rgb(255, 149, 0);
    margin-left: 200px;
    margin-top: 0px;
    text-align: center;
    width: 150px;
    height: 110px;
    color: white;
    font-size: 20px;
    
}

.power > * {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    
}

.click {
    height: 100px;
    width: 100px;
}

.score {
    background-color: teal;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 300px;
    height: 45px;
    margin-left: 10%;
}

h3 {
    padding-top: 10px;
    color: white;
}

.math {
    background-color: teal;
    font-size: 50px;
    color: rgb(246, 8, 8);
    width: 300px;
    height: 75;
    margin-left: 10%;
    margin-bottom: 20px;
}

.target {
    font-size: 15px;
    color: rgb(20, 236, 42);
    margin-left: 30px;
}